*.log
index.php
wp-*.php
wp-admin/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/*
wp-includes/*
xmlrpc.php

!wp-content/themes/*/index.php

.sass-cache
node_modules/*

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
wp-content/themes/mediaplus-2017/includes/mc-form.php

wp-content/themes/mediaplus-2017/includes/mc-non-form.php

*.map
