/*
 *	=============================================
 *	COMPONENTS
 *	=============================================
 */

/*
 *	PAGE OVERLAY
 *  Used for mobile header nav and desktop
 *  sidebar nav
 *	---------------------------------------------
 */

.page-overlay {
  display: none;
  content: "";
  position: fixed;
  z-index: z('main') + 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(188, 188, 188, .5);
  opacity: 0;
}

/*
 *	PAGE BANNER
 *	---------------------------------------------
 */

.page-banner {
  position: relative;
  z-index: -1;
  height: 0;
  width: 100%;
  padding-top: 400px;
  overflow: hidden;
  text-align: center;

  picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  picture img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    margin-left: -200%;
  }
}

@media (min-width: $bp-m) {
  .page-banner {
    padding-top: 46%;

    picture, img {
      width: 100%;
      height: auto;
    }
  }
}

/*
 *	META ITEMS
 *	---------------------------------------------
 */

.meta-items {
  list-style: none;
  color: $grey-med;

  ul, ol {
    list-style: none;
  }
}

/*
 *	ROW ITEMS
 *  Used for clients, contact rows, and journal
 *  post previews
 *	---------------------------------------------
 */

.row-item {
  padding-top: $space-xs-em;
  padding-top: $space-xs;
  border-top: 1px solid $grey-light;
}

.row-item + .row-item {
  margin-top: $space-xs-em;
  margin-top: $space-xs;
}

@media (max-width: $bp-m) {
  .row-items {
    padding: 0 $space-s;
  }

  .row-item {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $bp-m) {
  .row-item {
    padding-top: 1.5em;
  }

  .row-item + .row-item {
    margin-top: 1.5em;
  }
}

/*
 *	"MORE INFO" LINKS
 *	---------------------------------------------
 */

.more-link {
  display: inline-block;
  font-size: 1rem;
  font-family: $font-subheading;

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: .625rem;
    width: 35px;
    width: 2.1875rem;
    height: 35px;
    height: 2.1875rem;
  }
}

/* More specific to override base link styles */
a.more-link {
  border-bottom: 0;
  color: $grey-light;

  &:hover {
    color: $redorange;

    .arrow-circle {
      fill: $redorange;
    }

    .arrow-stroke {
      fill: #fff;
    }
  }
}