/*
 *	=============================================
 *	COMPONENTS
 *	=============================================
 */

/*
 *	PAGE OVERLAY
 *  Used for mobile header nav and desktop
 *  sidebar nav
 *	---------------------------------------------
 */

.page-overlay {
  display: none;
  content: "";
  position: fixed;
  z-index: z('main') + 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(188, 188, 188, .5);
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

/*
 *	PAGE BANNER
 *	---------------------------------------------
 */

.page-banner {
  position: relative;
  z-index: -1;
  height: 0;
  width: 100%;
  padding-top: 400px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;

  picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  picture img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    margin-left: -200%;
  }

  &.animated {
    opacity: 1;
  }
}

@media (min-width: $bp-m) {
  .page-banner {
    padding-top: 46%;

    picture, img {
      width: 100%;
      height: auto;
    }
  }
}

/*
 *	META ITEMS
 *	---------------------------------------------
 */

.meta-items {
  margin-left: 0;
  list-style: none;
  color: $grey-med;

  ul, ol {
    list-style: none;
  }
}

/*
 *	ROW ITEMS
 *  Used for clients, contact rows, and journal
 *  post previews
 *	---------------------------------------------
 */

.row-item {
  padding-top: $space-xs-em;
  padding-top: $space-xs;
  border-top: 1px solid $grey-light;
}

.row-item + .row-item {
  margin-top: $space-xs-em;
  margin-top: $space-xs;
}

@media (max-width: $bp-m) {
  .row-items {
    padding: 0 $space-s;
  }

  .row-item {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $bp-m) {
  .row-item {
    padding-top: 1.5em;
  }

  .row-item + .row-item {
    margin-top: 1.5em;
  }
}

/*
 *	"MORE INFO" LINKS
 *	---------------------------------------------
 */

.more-link {
  display: inline-block;
  font-size: 1rem;
  font-family: $font-subheading;

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: .625rem;
    width: 35px;
    width: 2.1875rem;
    height: 35px;
    height: 2.1875rem;
  }
}

/* More specific to override base link styles */
a.more-link {
  border-bottom: 0;
  color: $grey-light;

  &:hover {
    color: $redorange;

    .arrow-circle {
      fill: $redorange;
    }

    .arrow-stroke {
      fill: #fff;
    }
  }
}

/*
 *	ICONS
 *	=============================================
 */

/*
 *	ARROWS
 *	---------------------------------------------
 */

.arrow {
  width: 2em;
  height: 2em;
}

/*
 *  MAILCHIMP EMAIL NEWSLETTER FORM
 *  !important to override inline styles :(
 *	=============================================
 */

.mc-wrap {
  form, .non-form {
    position: relative;
  }

  input[type="email"] {
    padding-left: 45px;
  }

  .response,
  div.mce_inline_error {
    margin-top: 1em;
    font-size: .875em;
    line-height: 1.5;
  }
}

.mc-submit {
  position: absolute;
  top: 1em;
  margin-top: -6px;
  left: 0;
}

#mc_embed_signup div.mce_inline_error {
  margin: .5em 0 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  color: red !important;
}

#mc_embed_signup input.mce_inline_error {
  border-color: red !important;
  color: red;
}

/*
 *  ANIMATED LINKS
 *	=============================================
 */

%animated-link {
  display: inline-block;
  position: relative;
  border-bottom: 0;
  color: inherit;
  transition: color 300ms;
}

%animated-link-pseudo {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: $redorange;
  transition: width 300ms;
}

%animated-link-hover {
  color: $redorange;
}

%animated-link-hover-pseudo {
  width: 100%;
}