@font-face {
  font-family: 'chalet-newyork';
  src: url('../fonts/Chalet-NewYorkSixty.eot');
  src: local('☺'), /* sneakily trick IE */
        url('../fonts/Chalet-NewYorkSixty.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'domain-text';
  src: url('../fonts/DomaineText-Light.eot');
  src: local('☺'),
        url('../fonts/DomaineText-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}