/*
 *	=============================================
 *	FOOTER
 *	=============================================
 */

.footer {
  margin-top: 4.375em;
  margin-top: 4.375rem; /* 54px */
  padding: $space-l-em 0;
  padding: $space-l 0;

  font-size: .875em; /* 14px */

  background: $bg-grey-light;
  color: $grey-med;

  h2 {
    margin-bottom: .75rem;
    font-size: 1.286em; /* 18px */
  }

  h2,
  a:link, a:visited {
    color: inherit;
  }

  a:link, a:visited {
    border-bottom: 0;
  }

  a:hover {
    border-bottom: 1px solid;
    color: #000;
  }
}

.footer__social {
  margin-bottom: 0;
  list-style: none;
}

.footer__copyright {
  display: block;
  font-size: 1em;
}

@media (min-width: $bp-l) and (max-width: $bp-xl) {
  .footer__contact > .grid-col {
    float: none;
    display: inline-block;
    width: auto;
  }

  .footer__contact > .grid-col + .grid-col {
    margin-top: 0;
  }
}

@media (min-width: $bp-l) {
  .footer {
    margin-top: 5em;
  }

  .footer__copyright {
    margin-left: calc(33.333% - (2 *#{$space-m})/3);
  }
}