/*
 *	=============================================
 *	GLOBAL STYLES
 *	=============================================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 100%/1.625 $font-body;
}

:focus {
  outline: 1px dashed #000;
  outline-offset: 1px;
}

::selection {
	background: $redorange;
	color: #fff;
}
::-moz-selection {
	background: $redorange;
	color: #fff;
}

a:link, a:visited {
  text-decoration: none;
}

/*
 *	TYPOGRAPHY
 *	---------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  line-height: 1;
}

h1, .h1,
h2, .h2,
h4, .h4 {
  font-weight: 600;
  font-family: $font-heading;
  color: $redorange;
}

h1, .h1 {
  font-size: 3.125em; 
  line-height: 1.02;
}

.h2-variant,
.h4-variant {
  font-weight: 400;
  font-family: $font-body;
  color: $grey-dark;
}

h3, .h3 {
  font-weight: 400;
  font-family: $font-heading;
  color: $redorange;
}

.h2-variant {
  font-size: 1.5em;
  line-height: 1.2;
}

.h4-variant {
  font-size: 1.25em;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
}

@media (max-width: $bp-s) {
  body {
    font-size: 87.5%;
  }
}

/*
 *	UTILITIES
 *	---------------------------------------------
 */

.clear:after, .clear::after,
.row:after, .row::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}