/*
 *	=============================================
 *	GLOBAL STYLES
 *	=============================================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font: 400 100%/1.75 $font-body;
}

main {
  position: relative;
  z-index: z('main');

  flex: 1 0 auto;
}

::selection {
	background: $grey-dark;
	color: #fff;
}

::-moz-selection {
	background: $grey-dark;
	color: #fff;
}

a:link, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

/*
 *	TYPOGRAPHY
 *	---------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $space-xs-em;
  margin-bottom: $space-xs;
  line-height: 1;
}

h1, .h1,
h2, .h2,
h4, .h4 {
  font-weight: 600;
  font-family: $font-heading;
  color: $redorange;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.02;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.1;
}

.h2-variant,
.h4-variant {
  font-weight: 400;
  font-family: $font-body;
  color: $grey-dark;
}

.h2-variant {
  font-size: 1.5em;
  line-height: 1.2;
}

h3, .h3 {
  font: 400 1.125em/1 $font-subheading;
  color: $redorange;
}

h4, h5, h6 {
  font-size: 1em;
}

.h4-variant {
  font-size: 1.25em;
}

p, ul, ol {
  margin-bottom: 1em;
}

ul {
    margin-left: 1.25em;
  }
  
ol {
  margin-left: 1em;
}

blockquote {
  font: 600 2em/1.2 $font-heading;

  :last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $bp-m) {
  body {
    font-size: 93.75%;
  }
}

@media (min-width: $bp-s) {
  h1, .h1 {
    font-size: 2.5625em;
  }

  blockquote {
    font-size: 2.625em;
  }
}

@media (min-width: $bp-l) {
  ul, ol {
    margin-left: 0;
  }
}

@media (min-width: $bp-xxl) {
  body {
    font-size: 112.5%;
  }

  p {
    max-width: 36em;
  }
}

/*
 *	FORM ELEMENTS
 *	---------------------------------------------
 */

::-webkit-input-placeholder {
  color: $grey-med;
}
::-moz-placeholder {
  color: $grey-med;
}
:-ms-input-placeholder {
  color: $grey-med;
}
:-moz-placeholder {
  color: $grey-med;
}

input {
  padding: .75em 0;
  border: 0;
  border-bottom: 1px solid $grey-med;
  width: 100%;
  background: transparent;
  font: 400 100%/1.75 $font-body;

  &:focus {
    outline: 0;
    border-color: $orange;
    color: $redorange;
  }
}

button {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  font: 1em/1 $font-body;
  color: $grey-med;

  &:hover {
    cursor: pointer;
  }
}

/*
 *	UTILITIES
 *	---------------------------------------------
 */

/* Accessibly hide visually */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.clear:after, .clear::after,
.row:after, .row::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}