/*
 *	=============================================
 *	GRID
 *	=============================================
 */

/*
 *	MOBILE
 *	---------------------------------------------
 */

.page-section + .page-section {
  margin-top: 3.375em;
  margin-top: 3.375rem; /* 54px */
}

.page-section--feature + .page-section {
  margin-top: 4.5em;
  margin-top: 4.5rem; /* 72px */
}

.contain {
  margin-right: auto;
  margin-left: auto;
  max-width: 70em;
}

.row {
  padding: 0 $space-s-em;
  padding: 0 $space-s;
}

.row--flush {
  padding: 0;
}

.grid-col {
  margin-bottom: 0;
}

.grid-col + .grid-col {
  margin-top: $space-l;
}

.grid-col :last-child {
  margin-bottom: 0;
}

/*
 *	DESKTOP
 *	---------------------------------------------
 */
@media (min-width: $bp-s) {
  .row {
    padding: 0 $space-m;
  }

  .row--flush {
    padding: 0;
  }

  .grid-col {
    float: left;
  }

  .grid-col + .grid-col {
    margin: 0 0 0 $space-m;
  }

  .row--halves > .grid-col {
    width: calc(50% - #{$space-xs});
  }

  .row--thirds > .grid-col {
    width: calc(33.333% - (2 *#{$space-m})/3);
  }

  .row--thirds {
    > .grid-col {
      margin-top: $space-l;
    }

    > .grid-col:nth-child(-n + 3) {
      margin-top: 0;
    }

    > .grid-col:nth-child(3n+1) {
      margin-left: 0;
      clear: both;
    }
  }

  .row--third-two-thirds > .grid-col {
    width: calc(33.333% - #{$space-m}/2);
  }

  .row--third-two-thirds > .grid-col:last-child {
    width: calc(66.666% - #{$space-m}/2);
  }

  .grid-col--right {
    float: right;
  }
}

@media (min-width: $bp-m) {
  .contain {
    padding: 0 $space-m;
    max-width: 125em;
  }

  .page-section + .page-section {
    margin-top: 4em;
  }

  .page-section--feature + .page-section {
    margin-top: 7.5em;
  }
}

@media (min-width: $bp-s) and (max-width: $bp-l) {
  /* Unfloat nested columns */
  .grid-col .grid-col {
    float: none;
    width: 100%;
  }

  .grid-col .grid-col + .grid-col {
    margin: $space-l 0 0;
  }
}

@media (min-width: $bp-l) {
  .contain {
    padding: 0 $space-xl;
  }
}