/*
 *	=============================================
 *	GRID
 *	=============================================
 */

/*
 *	MOBILE
 *	---------------------------------------------
 */

.row {
  padding: 0 $space-s-em;
  padding: 0 $space-s;
}

.row--flush {
  padding: 0;
}

.grid-col {
  margin-bottom: $space-l;

  .grid-col:last-child {
    margin-bottom: 0;
  }
}

/*
 *	DESKTOP
 *	---------------------------------------------
 */
@media (min-width: $bp-m) {
  .contain {
    padding: 0 $space-xl;
  }

  .row {
    padding: 0 $space-m;
  }

  .row--flush {
    padding: 0;
  }

  .grid-col {
    float: left;
    margin: 0 0 0 $space-m;

    &:first-child {
      margin-left: 0;
    }
  }

  .row--halves .grid-col {
    width: calc(50% - #{$space-xs});
  }

  .row--thirds .grid-col,
  .row--third-two-thirds .grid-col {
    width: calc(33.333% - (2 *#{$space-m})/3);
  }

  .row--third-two-thirds .grid-col:last-child {
    width: calc(66.666% - (2 *#{$space-m})/3);
  }

  .col--right {
    float: right;
  }
}

@media (min-width: $bp-m) and (max-width: $bp-l) {
  .grid-col .grid-col {
    float: none;
    margin: 0 0 $space-l;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}