/*
 *	=============================================
 *	HEADER
 *	=============================================
 */

body {
  padding-top: 10em;
}

.header {
  a:link, a:visited {
    border-bottom: 0;
  }
}

.header__context,
.header__tray-content {
  position: fixed;
  top: 0;
  padding: $space-s-em;
  padding: $space-s;
}

.header__context {
  left: 0;
}

.header__tray-content {
  z-index: z('header') - 1;
  right: 0;
}

@media (max-width: $bp-header-s) {
  body {
    margin-top: 6.43em; /* ~90px */
  }
}

@media (min-width: $bp-header-m) {
  .header__context,
  .header__tray-content {
    padding: $space-m $space-m 0;
  }
}

/*
 *	CONTEXT: LOGO + PAGE LABEL
 *	---------------------------------------------
 */

.header__context {
  z-index: z('sidebar') + 1;
}

.header__brand {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;

  &:focus {
    outline: 0;
    opacity: .5;
  }
}

.logo__text-wrap,
.logo__plus {
  display: inline-block;
  vertical-align: top;
}

.logo__text-wrap {
  overflow: hidden;
  width: 5.133em;
  transition: width 300ms;

  /* Show only the M */
  &.abbreviated {
    width: 1.45em;
  }
}

.logo__text {
  width: 5.133em; /* 77px */
  height: 1.466em; /* 22px */
}

.logo__plus {
  width: 1.466em;
  height: 1.466em;
}

@media (min-width: $bp-header-m) {
  .logo__text-wrap {
    width: 6.5625em;

    &.abbreviated {
      width: 1.8em;
    }
  }

  .logo__text {
    width: 6.5625em; /* 105px */
    height: 1.875em; /* 30px */
  }

  .logo__plus {
    width: 1.875em;
    height: 1.875em;
  }
}

/*
 *	LOGO HOVER: TEASE SIDEBAR UNLESS ON FLOW PAGES
 *	----------------------------------------------
 */

body:not(.flow) .header__brand {
  .teaser {
    display: block;
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $orange;
    transition: width 400ms;
  }

  &.pulse .teaser {
    animation: pulse 4000ms infinite;
  }

  &.pause-pulse .teaser {
    animation-play-state: paused;
  }
}

@keyframes pulse {
  0% {
    width: 0;
  }
  
  20% {
    width: 3em;
  }
  
  32% {
    width: 2.5em;
  }

  44% {
    width: 3em;
  }

  56% {
    width: 2.5em;
  }

  68% {
    width: 3em;
  }

  80% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

/*
 *	TRAY
 *  See also "Toggle States"
 *	---------------------------------------------
 */

.header__tray {
  float: right;
  z-index: z('header') - 1;
}

.header__tray-content {
  padding-right: 6.75em;
}

.menu-toggle {
  position: fixed;
  z-index: z('header');
  top: $space-s;
  right: $space-s;
  width: 32px;
  height: 32px;
}

button.menu-toggle:focus {
  outline: 0;
  border: 1px solid rgba(245, 90, 0, .5);
  border-radius: 50%;
}

.menu-toggle__open,
.menu-toggle__close {
  width: 100%;
  height: 100%;
}

.menu-toggle__close {
  display: none;
}

.header__menu {
  display: inline-block;
  vertical-align: middle;

  ul {
    margin: 0;
    list-style: none;
  }

  a {
    color: $grey-med;
  }

  .current-menu-item a,
  .current_page_item a {
    color: $grey-dark;
  }
}

.header__contact {
  opacity: 0;

  * {
    color: $grey-med;
  }

  h2 {
    margin-bottom: .75rem;
  }

  :last-child {
    margin-bottom: 0;
  }

  &[aria-hidden="true"] {
    display: none;
  }
}

@media (max-width: $bp-header-s) {
  .header__tray {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;

    &:before {
      display: block;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      box-shadow: 0 0 13px 0 #000;
      opacity: 0;
      transition: opacity 400ms;
    }
  }

  .header__tray-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5.625em $space-s $space-s;
    width: 100%;
    height: 100%;
    background: #fff;
  }

  .header__menu {
    flex: 1;
    font-size: 2rem;
    line-height: 1;

    li + li {
      margin-top: .75em;
    }

    li {
      opacity: 0;
      transition: opacity 300ms;

      &.visible {
        opacity: 1;
      }
    }

    a {
      color: $grey-dark;
    }
  }
}

@media (min-width: $bp-header-m) {
  .header__tray__content {
    padding-right: 7.5em;
  }

  .menu-toggle {
    top: $space-m;
    right: $space-m;
  }

  .header__menu {
    li {
      display: inline-block;
    }

    li + li {
      margin-left: 2.5em;
    }
  }
}

/*
 *	TOGGLE STATES
 *	---------------------------------------------
 */

.menu-toggle[aria-expanded="true"] {
  .menu-toggle__close {
    display: block;
  }

  .menu-toggle__open {
    display: none;
  }
}

@media (max-width: $bp-header-s) {
  .page-overlay--header {
    z-index: z('header') - 2;
  }

  .header.menu-active {
    .header__tray {
      right: 0;
    }

    .header__tray:before {
      opacity: 1;
    }
  }

  .header__tray {
    transition: right 600ms;
  }
}

@media (min-width: $bp-header-m) {
  .header__menu[aria-hidden="true"] {
    display: none;
  }
}