/*
 *	=============================================
 *	SASS HELPERS
 *	=============================================
 */

/*
 *	VARIABLES
 *	---------------------------------------------
 */

/* Media queries */
$bp-xs: 30em;
$bp-s: 40em;
$bp-m: 48em;
$bp-l: 64em;
$bp-xl: 80em;
$bp-xxl: 112.5em;
$bp-xxxl: 125em;

$bp-header-s: 800px;
$bp-header-m: 801px;
$bp-clients-s: 1200px;
$bp-clients-l: 1201px;
$bp-header-lt-m: 800px;
$bp-sidebar-m: 901px;
$bp-sidebar-l: 1101px;

/* Fonts */
$font-body: 'domain-text', 'Garamond Old Style', serif;
$font-heading: 'chalet-newyork', 'Helvetica Neue', sans-serif;
$font-subheading: 'chalet-london-sixty', 'Helvetica Neue', sans-serif;

/* Colors */
$redorange: #f55a00;
$orange: #ffa500;
$blue: #2b80a8;
$grey-dark: #1a1a1a;
$grey-med: #959595;
$grey-light: #bcbcbc;
$bg-grey-med: #bcbcbc;
$bg-grey-light: #f7f7f7;

/* Spacing: em are pretty much there just as fallbacks for browsers that don't support rem measurements */
$space-xs: 1rem;
$space-xs-em: 1em;
$space-s: 1.25rem;
$space-s-em: 1.25em;
$space-m: 2rem;
$space-m-em: 2em;
$space-l: 2.5rem;
$space-l-em: 2.5em;
$space-xl: 3.75rem;
$space-xl-em: 3.75em;
$space-2xm: 4rem;
$space-2xm-em: 4em;

/*
 *	Z-INDEX MANAGEMENT
 *	---------------------------------------------
 */

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}

$z-layers: (
  "person": 500,
  "main": 600,
  "header": 800,
  "sidebar": 900
)