/*
 *	=============================================
 *	SASS HELPERS
 *	=============================================
 */

/*
 *	VARIABLES
 *	---------------------------------------------
 */

/* Colors */
$orange: #ffa500;
$blue: #2b80a8;
$grey-dark: #1a1a1a;
$grey-med: #969696;
$grey-light: #bcbcbc;
$bg-grey-med: #bcbcbc;
$bg-grey-light: #f7f7f7;