/*
 *	=============================================
 *	SASS HELPERS
 *	=============================================
 */

/*
 *	VARIABLES
 *	---------------------------------------------
 */

/* Media queries */
$bp-s: 40em;
$bp-m: 48em;
$bp-l: 64em;
$bp-xl: 80em;

$bp-header-s: 800px;
$bp-header-m: 801px;
$bp-clients-s: 1200px;
$bp-clients-l: 1201px;

/* Fonts */
$font-body: 'Domaine Text', 'Garamond Old Style', serif;
$font-heading: 'Chalet', 'Helvetica Neue', sans-serif;

/* Colors */
$redorange: #f55a00;
$orange: #ffa500;
$blue: #2b80a8;
$grey-dark: #1a1a1a;
$grey-med: #959595;
$grey-light: #bcbcbc;
$bg-grey-med: #bcbcbc;
$bg-grey-light: #f7f7f7;

/* Spacing: em are pretty much there just as fallbacks for browsers that don't support rem measurements */
$space-xs: 1rem;
$space-xs-em: 1em;
$space-s: 1.25rem;
$space-s-em: 1.25em;
$space-m: 2rem;
$space-m-em: 2em;
$space-l: 2.5rem;
$space-l-em: 2.5em;
$space-xl: 3.75rem;
$space-xl-em: 3.75em;