/*
 *	=============================================
 *	SITE SECTION COLOR THEMING
 *	=============================================
 */

/*
 *	BASE
 *	---------------------------------------------
 */

.menu-toggle:hover,
a:hover .arrow {
  circle {
    fill: $redorange;
  }

  path {
    fill: #fff;
  }
}

.header__menu a:hover {
  outline: 0;
  color: $redorange;
}

input:focus {
  border-color: $redorange;
}

.mc-submit:focus, .mc-submit:hover {
  outline: 0;

  path {
    stroke: $redorange;
  }
}

/*
 *	FLOW PAGES
 *  Home, expertise case studies
 *	---------------------------------------------
 */

body.flow {
  .header__menu a:hover {
    outline: 0;
    color: $orange;
  }

  .menu-toggle:hover,
  a:hover .arrow {
    circle {
      fill: $orange;
    }

    path {
      fill: #fff;
    }
  }
}

/*
 *	OFFERINGS CASE STUDIES
 *	---------------------------------------------
 */

body.offerings {
  .header__menu a:hover {
    outline: 0;
    color: $blue;
  }

  .menu-toggle:hover,
  a:hover .arrow {
    circle {
      fill: $blue;
    }

    path {
      fill: #fff;
    }
  }
}