/*
 *	=============================================
 *  CASE STUDIES
 *	=============================================
 */

.single-expertise .page-content {
  margin-top: 6.428em;
  margin-top: 5.625rem; /* 90px */
}

/* Make space for the M+ */
@media (max-width: $bp-s) {
  .case-study {
    padding-left: 3.325em;
  }
}

@media (min-width: $bp-s) and (max-width: $bp-m) {
  .case-study {
    padding-left: 2.75em;
  }
}

@media (min-width: $bp-m) and (max-width: $bp-sidebar-l) {
  .case-study {
    padding-left: 4.125em;
  }
}

@media (min-width: $bp-sidebar-l) {
  .single-expertise .page-content {
    margin-top: 4.5em;
  }

  .case-study {
    float: right;
    width: calc(100% - 24.6875em);
  }
}

/*
 *	COLOR SCHEMES
 *	---------------------------------------------
 */

.single-expertise {
  h1, h2, h3, h4, h5, h6,
  blockquote,
  button:hover,
  button:focus {
    color: $orange;
  }

  .color-block {
    background-color: $orange;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
      color: $grey-dark;
    }
  }
}

/*
 *	PAGE SECTIONS
 *	---------------------------------------------
 */

.row--gallery,
.row--image {
  picture, img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: $bp-s) {
  .case-study .grid-col + .grid-col {
    margin-top: 1.5em;
    margin-top: 1.5rem;
  }
}

@media (min-width: $bp-s) {
  .case-study {
    padding-right: $space-2xm;
  }

  .row--intro {
    .grid-col {
      width: 80%;
    }
  }

  .row--text {
    .grid-col {
      width: calc(40% - #{$space-m} / 2);
    }

    .grid-col:last-child {
      width: calc(60% - #{$space-m} / 2);
    }
  }

  .row--pull-quote {
    .grid-col {
      width: calc(60% - #{$space-m} / 2);
    }
  }

  .row--gallery {
    .gallery {
      width: calc(100% + #{$space-2xm});
    }
  }

  .row--image {
    .grid-col {
      width: calc(60% + #{$space-m} * 1.5);
    }

    .grid-col--right {
      margin-right: -$space-2xm;
    }
  }

  .row--color-block {
    .grid-col {
      width: calc(40% + #{$space-m} / 2);
    }

    .grid-col--right {
      margin-right: -$space-2xm;
    }
  }
}

@media (min-width: $bp-m) {
  .row--image,
  .row--color-block {
    + .row--image,
    + .row--color-block {
      margin-top: 0;
    }
  }
}

/*
 *	SECTION: GALLERY
 *	---------------------------------------------
 */

.gallery {
  position: relative;
}

.slides {
  position: relative;
  margin-bottom: 0;
  padding-top: 56.25%; /* 16:9 ratio */
  list-style: none;
}

.slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;

  &:first-child {
    z-index: 2;
    opacity: 1;
  }

  img {
    margin-bottom: 0;
    width: 100%;
  }
}

.gallery__prev,
.gallery__next {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 50%;
  height: 100%;
  padding: $space-s-em;
  padding: $space-s;

  .arrow {
    width: 2em;
    height: 2em;
    opacity: 0;
    transition: opacity 400ms;
  }

  &:hover, &:focus {
    .arrow {
      opacity: 1;
    }
  }

  &:focus {
    outline: 0;
  }
}

@supports (animation-fill-mode: forwards) {
  .gallery__prev,
  .gallery__next {
    &:focus {
      .arrow {
        animation-name: fadeFocusOut;
        animation-duration: 400ms;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
    }

    &:focus:hover {
      .arrow {
        animation-fill-mode: none;
        opacity: 1;
        transition: opacity 400ms;
      }
    }
  }

  @keyframes fadeFocusOut {
    to {
      opacity: 0;
    }
  }
}

.gallery__prev {
  left: 0;
  text-align: left;
}

.gallery__next {
  right: 0;
  text-align: right;
}

.gallery__label {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding: $space-s-em;
  padding: $space-s;
  line-height: 1;
}

@media (min-width: $bp-m) {
  .gallery__label {
    font-size: .9375em;
  }

  .gallery__prev,
  .gallery__next {
    padding: 3rem;
  }
}

/*
 *	SECTION: COLOR BLOCK
 *	---------------------------------------------
 */

.color-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-s-em;
  padding: $space-s;
  min-height: 22em;

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

.color-block--data {
  padding-bottom: 0;
}

.color-block__text {
  margin-bottom: 3em;
}

.color-block__heading {
  font-weight: 600;
  font-size: 1.3125em;
}

.data {
  font: 600 4em/1 $font-heading;
  word-break: break-all;
}

/* Bump up the type size for shorter data */
.data__4 {
  font-size: 1.25em;
}

.data__3 {
  font-size: 1.75em;
}

.data__2,
.data__1 {
  font-size: 2em;
}

@media (min-width: $bp-s) {
  .data {
    font-size: 6vw;
  }
}

@media (min-width: $bp-sidebar-l) and (max-width: $bp-xl) {
  .data {
    font-size: 4vw;
  }
}

@media (min-width: $bp-l) {
  .color-block__text {
    margin-bottom: 4.5em;
  }
}

@media (min-width: $bp-xl) {
  .color-block {
    min-height: 29em;
  }
}

/*
 *	SECTION: LISTS
 *	---------------------------------------------
 */

.row--lists {
  position: relative;
}

.case-study__list {
  margin-bottom: $space-m-em;
  margin-bottom: $space-m;

  ul {
    margin-bottom: 0;
    list-style: none;
    overflow: hidden;
    transition: height 400ms;
  }

  li:nth-child(n+7) {
    display: none;
  }
}

.lists-wrapper:focus {
  outline: 0;
}

.lists-wrapper.expanded {
  li:nth-child(n+7) {
    display: block;
  }
}

.toggle-lists {
  display: none;
  position: absolute;
  top: -1.25em;
  right: .5em;
  padding: 1em;

  &:focus {
    outline: 0;
  }
}

@media (min-width: 500px) {
  .case-study__list {
    display: inline-block;
    vertical-align: top;
    margin-right: $space-m-em;
    margin-right: $space-m;
    max-width: calc(49% - #{$space-m});
  }

  .toggle-lists {
    top: auto;
    right: auto;
    bottom: -.5em;
    margin-left: -1em;
  }
}