/*
 *	=============================================
 *	CLIENTS PAGE
 *	=============================================
 */

/*
 *	COMPANY ATTRIBUTES
 *  See also "Hover + Toggle States"
 *	---------------------------------------------
 */

@media (max-width: $bp-l) {
  /* Float nested columns as halves */
  .biz-attributes .grid-col {
    float: left;
    width: calc(50% - 1rem);
  }

  .biz-attributes .grid-col + .grid-col {
    margin: $space-l 0 0 0;
    clear: both;

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: $space-m;
      clear: none;
    }
  }
}

/* Make sure biz attributes stack in front of non-useful header items */
@media (min-width: $bp-header-m) {
  .biz-attributes {
    position: relative;
    z-index: 998;
  }

  .header__menu {
    z-index: 999;
  }
}

/*
 *	CLIENT ROWS
 *  See also "Active state" and "Toggle states"
 *	---------------------------------------------
 */

.client {
  position: relative;
  
  h3, h4 {
    margin-bottom: 0;
    font: 400 100%/1.75 $font-body;
    color: $grey-med;
  }
}

.row-toggle {
  display: none;
  position: absolute;
  top: .25rem;
  right: .5rem;
  margin-right: -.75rem;
  padding: .75rem;

  &:hover,
  &:focus {
    svg {
      fill: $grey-dark;
    }
  }

  &:focus {
    outline: 0;
  }
}

.row-toggle__collapse,
.row-toggle__expand {
  width: 1.25rem;
  height: 1.25rem;
  fill: $grey-med;
}

.row-toggle__collapse {
  display: none;
}

.client__details {
  transition: height 400ms;
}

.client__details,
.client__details-section {
  overflow: hidden;
}

.client__details-section {
  margin-top: 1.5rem;
}

.client__item-count {
  display: none;
}

.client__more {
  float: right;
  clear: both;
  margin-top: 2.25em;
  margin-top: 2.25rem;
}

@media (max-width: $bp-m) {
  .client h3,
  .client h4 {
    font-size: 1.06em;
  }
}

@media (min-width: $bp-s) {
  .client__dates + .client__details-section {
    margin-top: 0;
  }

  .client__more {
    margin-top: 1em;
  }
}

@media (min-width: $bp-m) {
  .client {
    padding-top: .75em;
  }

  .client + .client {
    margin-top: .75em;
  }

  .row-toggle {
    right: $space-m;
  }
}

@media (max-width: $bp-clients-s) {
  .grid-col + .client__details {
    margin-top: 0;
  }

  .client__dates {
    display: none;
  }

  .client__details-section h4 {
    float: left;
    width: 6em;
    color: $grey-dark;
  }

  .client__details-list {
    float: right;
    width: calc(100% - 8.5em);
  }
}

@media (min-width: $bp-clients-l) {
  .client__dates,
  .client__details-section {
    float: left;
    width: calc(33.333% - (2 *#{$space-m})/3);
  }

  .client__details-section {
    margin: 0 0 0 $space-m;
  }

  .client__details-section h4 {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
  }

  .client__item-count {
    display: inline;
  }
}

/*
 *	ACTIVE STATE
 *	---------------------------------------------
 */

.biz-attributes li {
  transition: opacity 200ms, color 200ms;
}

.biz-attributes.active li,
.biz-attributes.filtered li {
  opacity: .5;
}

.biz-attributes.active li:hover,
.biz-attributes.filtered li:hover,
.biz-attributes.filtered .current {
  opacity: 1;
  color: $grey-dark;
  cursor: pointer;
}

.client.filtered {
  color: $grey-dark;

  h3, h4 {
    color: $grey-dark;
  }

  svg {
    fill: $grey-dark;
  }
}

/*
 *	TOGGLE STATES
 *	---------------------------------------------
 */

.client.expanded {
  svg {
    fill: $redorange;
  }

  h3 {
    color: $redorange;
  }

  .client__item-count {
    display: none;
  }
}

.row-toggle[aria-expanded="true"] {
  .row-toggle__expand {
    display: none;
  }

  .row-toggle__collapse {
    display: block;
  }
}

@media (min-width: $bp-clients-l) {
  .client.expanded {
    color: $redorange;
  }
}