/*
 *	=============================================
 *	CONTACT PAGE
 *	=============================================
 */

.feature-address {
  @extend .h2;
  font-weight: 400;
  font-family: $font-subheading;

  a:link, a:visited {
    border-bottom: 0;
    color: inherit;
  }

  a:hover {
    border-bottom: 1px solid;
  }
}

.contact-row {
  border-top: 1px solid $grey-light;

  font-size: .9375em;
  line-height: 1.286;
  color: $grey-med;

  a:link, a:visited {
    border-bottom: 0;
    color: inherit;
  }

  a:hover {
    border-bottom: 1px solid;
    color: $grey-dark;
  }

  h2, h3 {
    font: 1em/1 $font-body;
    color: $grey-dark;
  }

  ul {
    list-style: none;
  }
}

@media (min-width: $bp-l) {
  .contact-row {
    h3 {
      margin-bottom: 1.5em;
    }
  }
}