@import '../base';

/*
 *	=============================================
 *	CONTACT PAGE
 *	=============================================
 */

.feature-address {
  @extend .h2;
  font-weight: 400;
  font-family: $font-subheading;
}

.feature-address,
.contact-row {
  a:link, a:visited {
    @extend %animated-link;

    &:after {
      @extend %animated-link-pseudo;
    }
  }

  a:hover {
    @extend %animated-link-hover;

    &:after {
      @extend %animated-link-hover-pseudo;
    }
  }
}

.contact-row {
  border-top: 1px solid $grey-light;
  line-height: 1.4;
  color: $grey-med;

  h2, h3 {
    font: 1em/1 $font-body;
    color: $grey-dark;
  }

  ul {
    margin-left: 0;
    list-style: none;
  }
}

.inquiry__name {
  margin-bottom: 0;
}

/* Form footer disabled on Contact page */
.mc-wrap--disabled {
  opacity: .25;

  button:hover {
    cursor: not-allowed;
  }

  button:hover path {
    stroke: $grey-med;
  }
}

@media (min-width: $bp-l) {
  .contact-row {
    h3 {
      margin-bottom: 1.5em;
    }
  }
}

@media (min-width: $bp-l) and (max-width: $bp-xl) {
  .inquiry__email {
    font-size: .875em;
  }
}