/*
 *	=============================================
 *	HOME PAGE
 *	=============================================
 */

.main--home {
  display: flex;
  margin-top: 5em;
  min-height: calc(100vh - 5em);
  flex-direction: column;
  justify-content: flex-end;
  padding: $space-s-em;
  padding: $space-s;
  padding-bottom: 5em;
}

.timeline-process {
  position: relative;
  overflow: hidden;

  ul {
    margin-bottom: 0;
    max-width: 21em;
    line-height: 1.8;
    color: $grey-dark;
  }

  li {
    display: inline;
    position: relative;
  }

  .overlay {
    display: block;
    content: '';
    position: absolute;
    z-index: z('main') - 2;
    top: 0;
    right: 0;
    width: 240%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));
    transition: width 2400ms ease-in;

    &.open {
      width: 0;
    }  
  }
}

.process__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .325em;
}

.process__plus {
  width: .7em; /* 35px */
  height: .7em;
}

.process__arrow {
  width: .74em; /* 37px */
  height: .62em; /* 31px */
}

.scroll-home {
  position: absolute;
  z-index: z('main') - 1;
  right: $space-s-em;
  right: $space-s;
  bottom: $space-s-em;
  bottom: $space-s;
  font: 400 1.25em/1 $font-subheading;
  opacity: 0;

  span, .arrow {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    margin-right: 1.25em;
  }

  .arrow {
    transform: rotate(90deg);
    transform-origin: center;
    width: 32px;
    height: 32px;
  }
}

@media (min-width: $bp-header-m) {
  .main--home {
    padding: $space-m;
    padding-right: 10em;
  }

  .scroll-home {
    right: $space-m;
    bottom: $space-m;
    transform: rotate(90deg);
    transform-origin: top right;

    .arrow {
      transform: rotate(0);
    }
  }
}

@media (min-width: $bp-m) {
  .timeline-process ul {
    font-size: 3.125em;
  }
}