/*
 *	=============================================
 *	HOME PAGE
 *	=============================================
 */

.main--home {
  display: flex;
  min-height: calc(100vh - 6.43em);
  flex-direction: column;
  justify-content: flex-end;
  padding: $space-s-em;
  padding: $space-s;
}

.timeline-process {
  position: relative;
  overflow: hidden;

  ul {
    margin-bottom: 0;
    max-width: 21em;
    line-height: 1.9;
    color: $grey-dark;
  }

  li {
    display: inline;
    position: relative;
  }

  .overlay {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));
    transition: width 1200ms ease-in;

    &.open {
      width: 0;
    }  
  }
}

.process__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .325em;
}

.process__plus {
  width: .7em; /* 35px */
  height: .7em;
}

.process__arrow {
  width: .74em; /* 37px */
  height: .62em; /* 31px */
}

@media (min-width: $bp-header-m) {
  .main--home {
    padding: $space-m;
    min-height: calc(100vh - 10em);
  }
}

@media (min-width: $bp-m) {
  .timeline-process ul {
    font-size: 3.125em;
  }
}