/*
 *	=============================================
 *	JOURNAL
 *	=============================================
 */

/*
 *	JOURNAL INDEX
 *	---------------------------------------------
 */

.post-preview {
  position: relative;

  &:first-child {
    padding-top: 0;
    border-top: 0;
  }

  /* Fade in new posts */
  &:nth-child(n+4) {
    opacity: 0;
    transition: opacity 400ms;
  }
}

.post-preview__thumb {
  padding-bottom: 3.25em; /* Space for more link */

  picture, img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.post__title {
  a:link, a:visited {
    border-bottom: 0;
  }

  a:hover {
    color: $grey-dark;
  }
}

/* Excerpt */
.post__title + p {
  margin-bottom: 0;
}

.post__date,
.post__more {
  position: absolute;
  bottom: 0;
}

.post__date {
  margin-bottom: .4em; /* Override normal p margin and align w/ more link */
  color: $grey-med;
  left: 0;
}

.post__more {
  right: 0;
}

.post__placeholder {
  display: block;
  width: 100%;
  height: auto;
}

.load-status {
  margin: 3.375em auto;
  text-align: center;
  font: 1.125em/1 $font-heading;
  color: $grey-med;
}

.load-status--empty {
  margin-bottom: 0;
}

.blog .footer {
  margin-top: 3.375em;
}

@media (max-width: $bp-s) {
  .grid-col + .post-preview__thumb {
    margin-top: 2rem;
  }
}

@media (min-width: $bp-s) {
  @supports (display: flex) {
    .post-preview {
      display: flex;
      justify-content: space-between;

      &:after {
        display: none;
      }
    }

    .post-preview__info {
      max-width: 36em;
    }
  }

  .post-preview__info {
    position: relative;
    padding-bottom: 4em; /* Space for more link */
  }

  .post-preview__thumb {
    padding-bottom: 0;
  }  
}

@media (min-width: $bp-m) {
  .post__date {
    font-size: .875em;
  }
}

@media (min-width: $bp-l) {
  .post-preview > .grid-col {
    width: calc(50% - #{$space-xl}/2);

    &:last-child {
      float: right;
    }
  }
}

/*
 *	INDIVIDUAL POST
 *	---------------------------------------------
 */

.post-content {
  position: relative;

  a:link, a:visited {
    color: $redorange;
  }

  a:hover {
    border-bottom: 0;
    color: $grey-dark;
  }

  * {
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: .75em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: $space-l-em 0 1em;
    margin: $space-l 0 1em;
  }

  .post-content__title {
    margin-top: 0;
  }

  blockquote {
    margin: 1em 0;
    font: 600 2em/1.2 $font-heading;
    color: $redorange;

    :last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $bp-s) {
  .post-content {
    blockquote {
      font-size: 2.625em;
    }
  }
}

@media (min-width: 54em) {
  .post-content {
    position: relative;

    > * {
      padding-left: calc(100% - 36em);
      padding-left: calc(100% - 36rem);
      max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
      float: left;
      padding-left: 0;
      max-width: calc(100% - 40em);
      max-width: calc(100% - 40rem);

      + * {
        margin-top: $space-xl-em;
        margin-top: $space-xl;
      }
    }

    blockquote {
      padding-left: 0;
      max-width: 70%;
    }
  }
}

@media (min-width: $bp-xl) {
  .post-content {
    blockquote {
      max-width: calc(100% - 40em);
      max-width: calc(100% - 40rem);
    }
  }
}